@font-face {
  font-family: "iconfont"; /* Project id 3361026 */
  src: url('iconfont.woff2?t=1663957309392') format('woff2'),
       url('iconfont.woff?t=1663957309392') format('woff'),
       url('iconfont.ttf?t=1663957309392') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e6a0";
}

.icon-shijian:before {
  content: "\e638";
}

.icon-dianpu:before {
  content: "\e895";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-dianzan_huaban:before {
  content: "\e613";
}

.icon-huorebaokuan:before {
  content: "\e616";
}

.icon-lishi:before {
  content: "\e602";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-search:before {
  content: "\e67d";
}

.icon-a-kefukefuzhongxin:before {
  content: "\e63a";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-up:before {
  content: "\e66c";
}

